@import "./variables";

.about-me{
  margin-top: 5vh;
  width: 80vw;
  height: 70vh;
  color:$base-color4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.about-me-txt{
  margin: 10px;
  padding: 10px;
  font-size: 2.5rem;
  color:$base-color2;
  outline: 2px solid $base-color3;
  border-radius: 10px;
  width: 65%;
  height: 90%;
  background:$base-color4;

}

.about-me-photo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  width: 30%;
  height: 90%;
}
.about-me-photo1{
  margin-top: 20px;
  display: flex;
  width: 400px;
  height: 400px;
  border-radius: 10%;
  background: $base-color4;
  outline: 2px solid $base-color3;

}

@media screen and (max-width: 1000px) {
  .about-me-photo{
    width: 100%;
    height: 70%;
  }
  .about-me-txt{
    width: 100%;
    font-size: 2rem;
  }


}