@import "./variables";
.header{
  height: 60px;
  width: 100%;
  position: fixed;
  transition: 0.5s;
  background-color:$base-color4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  z-index: 9;
}
.header.active{
  top: 0px;
  transition: 0.1s;
}
.header.hidden{
  z-index: 40;
  top: -60px;
}
.photo-header{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
  background-image: url("../assets/logo350x350.png");
  background-size: cover;

}
.header-links{
  height: 150px;
  display: flex;
  align-items: center;
  margin-right: 40px;

}
.header-link{
  margin: 0px 10px 0px 15px;
  height: 40px;
  width: 125px;
  background: #f5cb5c;
  font-family: 'Fredoka One', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $base-color4;
  border-radius: 10px;
  transition: 0.2s;
}
.header-link:hover{
  background: $base-color2;
}
.header-link.active{
  width: 250px;
}

.menu-mobile{
  display: none;
}
.menu-mobile-list{
  display: none;
}

@media screen and (max-width: 1000px) {

  .menu-mobile{
    display: flex;
    height: 48px;
    width: 48px;
    background-image: url("../assets/menu-mobile.png");
    margin-right: 15px;
    transition: 0.3s;
    z-index: 9;
  }
  .menu-mobile.active{
    transform: rotate(90deg);
  }
  .header-links{
    display: none;
  }
  .menu-mobile-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width:100%;
    background:$base-color4;
    top:0;
    right:-100%;
    max-width:400px;
    padding: 40px 50px 100px 50px;
    transition: 0.22s;
    z-index: 8;

  }
  .menu-mobile-list.active{
    top:0;
    right:0;
  }
  .header-link{
    margin: 10% 0px 10% 0px;
    width: 90%;
    height: 10%;
    font-size: 2.5rem;
  }




}