@import "variables";
.language{
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
  background:$base-color3;
}
.language-txt{
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Luckiest Guy', cursive;
  color:$base-color4;


  width: 40%;
  font-size: 1.75rem;
}
.language-level{
  margin-left: 10px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vh;
  font-size: 1.75rem;
  border-radius: 50%;
  font-family: 'Luckiest Guy', cursive;
  background:$base-color4;
  color:$base-color2;

}
@media screen and (max-width: 1000px) {
  .language-txt{
    width: 60%;
    font-size: 1.5rem;
  }
  .language-level{
    font-size: 1.5rem;
  }
}