@import "variables";
.language{
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
  background:$base-color3;
}
.language-txt{
  height: 100%;
  display: flex;
  align-items: center;


  width: 40%;
  font-size: 2rem;
  color:$base-color4;
}
.language-level{
  margin-left: 10px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  font-size: 2rem;
  border-radius: 50%;
  background:$base-color4;
  color:$base-color2;

}